.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    left: 0;
    top: 0;
    bottom: 0;
}

.sidebar-link {
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-link:hover {
    background-color: #007bff;
    color: white;
}

.sidebar img {
    display: block;
    margin: 0 auto 20px;
}
